/* @import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap'); */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
   body{
     background-image: url('../images/bgimg.jpg');
     /* background-color: #363232; */
  }
   
  .wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #000000;
    padding: 30px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #b8d0d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    
  }    
  
  .wrapper .sidebar ul li a{
    color: #ffffff;
    display: block;
    
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #c4c4c4;
    border-radius: 5%;
   align-items: baseline;
  
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #0d0d0d;
  }
   
  /* .wrapper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
  } */
  
  /* .wrapper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  } */
  .wrapper {
    display: flex;
  }
  
  .sidebar {
    width: 250px;
    background-color: #333;
    padding: 20px;
  }
  
  .navbar {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar li {
    margin-bottom: 10px;
  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .navbar li a svg {
    margin-right: 10px;
  }
  
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    font-size: 35px;
    background: #000000;
    color: #ffffff;
    border-bottom: 1px solid #e0e4e8;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .wrapper .main_content .info{
    margin: 10px;
    color: #ffffff;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  
  }
  .row{
    height: 90px;
    margin-top: -10px;
    margin-left: 10px;
    width: 190px;
    border-radius: 8%;
     
  }
  .bgimg
  {
      height: 500px;
      width: 1290px;
      margin-top: 10px;
      display: flex;
  }