body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}

input[type=text] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #ffffff;
}
.link{
  color: #ffffff;
}
form {
  border-radius: 5px;
  background-color: #867b7b;
  padding: 20px;
  width: 25%;
  height: auto;
  opacity: 0.8;
  
}
select
{
  width: 280px;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #ffffff;
}
input[type=date] 
{
  width: 280px;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #ffffff;
}

label {
color: rgb(246, 242, 242);
align:left
}


input[type=password] 
{
  width: 100%;
  padding: 12px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #ffffff;
}

/* button{
  background-color: #1cacd3;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
} */

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #ffffff;
  }
input[type=textarea], textarea {
    width: 100%;
    padding: 30px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: #ffffff;
  }

input[type=submit] {
  background-color: #1cacd3;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4580a0;
}

.container {
  border-radius: 5px;
  background-color: #867b7b;
  opacity: 0.7;
  padding: 30px;
  width: 100%;
  height: auto;
  
}



h4 {
color: #ffffff;
align:left
}